

<ion-content padding [scrollEvents]="true">
    <!-- <ion-searchbar animated name="searchitem" ngModel></ion-searchbar> -->


    <!-- <ion-card> -->
      <ion-row>
        <ion-col class="demo-2" position="floating"> Ingredients:</ion-col>
        
        <ion-auto-complete (itemSelected)="itemSelected($event)" [dataProvider]="completeTestService"></ion-auto-complete>
      </ion-row>

      <br>


      <ion-button size=small style="padding-left: 13.4rem" (click)="addIngredient()">Add</ion-button>

      <br>
      
      
      <ion-row *ngFor="let ingredient of ingredients">
        <ion-col  size=9>{{ingredient.ingredient}} </ion-col>
          <ion-col><ion-icon name="trash"></ion-icon></ion-col>
      </ion-row>
    <!-- </ion-card> -->




   

    
</ion-content>
