
<ion-content>


    <ion-card class="welcome-card" *ngFor="let recipe of recipes">
      <ion-row (click)="viewDeatils(recipe)">
        <img src="{{recipe.image}}" height="140" width="100"/>
      </ion-row>

       
  
      <ion-row align-self-stretch>
        <ion-col size="10">
            {{recipe.title}} 
        </ion-col>
        <ion-col text-right (click)="addFavorite(recipe.id)">
            <ion-icon name='star-outline'></ion-icon>
            <!-- <ion-icon *ngIf="addFavorite" name='star'></ion-icon> -->

        </ion-col>
       
        
      </ion-row>
  
    </ion-card>
  
 
</ion-content>


