<ion-content>
    <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MMM DD YYYY" [value]="selectedDate" (ionChange)="onChangeDate($event)"></ion-datetime>
</ion-item>
<br>
<ion-card>
    <ion-item>
        <ion-label>Break Fast</ion-label>
        <ion-button fill="outline" slot="end" (click)="presentModal('breackfast')">Add</ion-button>
    </ion-item>

    <ion-card-content>
        <ion-item href="#" class="activated" *ngFor="let item of mealPlanner['breackfast']">
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>{{item.title}}</ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-item>
        <ion-label>Lunch</ion-label>
        <ion-button fill="outline" slot="end" (click)="presentModal('lunch')">Add</ion-button>
    </ion-item>

    <ion-card-content>
        <ion-item href="#" class="activated" *ngFor="let item of mealPlanner['lunch']">
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>{{item.title}}</ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-item>
        <ion-label>Dinner</ion-label>
        <ion-button fill="outline" slot="end" (click)="presentModal('dinner')">Add</ion-button>
    </ion-item>

    <ion-card-content>
        <ion-item href="#" class="activated" *ngFor="let item of mealPlanner['dinner']">
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>{{item.title}}</ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>
</ion-content>
