<ion-content padding>
    <!-- <ion-button >Select File</ion-button> -->
    <input type="file" id='file' name='file' [(ngModel)]="file_model" style="display: inline-block;" (change)="onUploadFile($event)" placeholder="Upload file" accept=".xlsx">

    <br>
    <br>
    <br>
    <br>
    <ion-button type="button" [disabled]="!file_model" (click)="parseFile()">Parse</ion-button>

    <ion-list>
        <ion-item *ngFor="let item of ingredients">
          <ion-label>{{item}}</ion-label>
        </ion-item>
      </ion-list>

    <ion-button type="button" (click)="save()" expand="block">Add To My Ingredient</ion-button>

</ion-content>
