

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <br>
          <ion-label class="demo-4" position="floating">Hi, {{user.name}} :) </ion-label>
        
      <ion-card scrollX="true">
        <ion-label class="demo-1" position="floating">Diet:</ion-label>
        <ion-item *ngFor="let diet of diets">
          <ion-label class="demo-3">{{diet.title}}</ion-label>
          <ion-checkbox [(ngModel)]="diet.isChecked" position=floating></ion-checkbox>
        </ion-item>

      </ion-card>

    <ion-card>
      <ion-label class="demo-1" position="floating">Intolerance:</ion-label>

      <ion-item *ngFor="let intolerance of intolerances">
        <ion-label class="demo-3">{{intolerance.title}}</ion-label>
        <ion-checkbox [(ngModel)]="intolerance.isChecked"></ion-checkbox>
      </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label class="demo-2" position="floating">Excluded Ingredients:</ion-label>
            <ion-input type=text></ion-input>
            <!-- <ion-auto-complete></ion-auto-complete> -->
          </ion-item>
          <br>
      <ion-item>
        <ion-button size=default slot="start">Add</ion-button>
      </ion-item>
    </ion-card>


  <br>
  <ion-button (click)="save()" expand="block">Save</ion-button>&nbsp;


</ion-content>