

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content [scrollEvents]="true">
    <ion-item>
        <ion-label position="floating">Hi, Tanay Bhatt :) </ion-label>
        
      </ion-item>
  <ion-list>
    <ion-infinite-scroll>
      <ion-card>
        <ion-label position="floating">Diet:</ion-label>
        <ion-item *ngFor="let diet of diets">
          <ion-label>{{diet}}</ion-label>
          <ion-checkbox position=floating></ion-checkbox>
        </ion-item>

      </ion-card>
    </ion-infinite-scroll>

  </ion-list>

  <ion-list>
    <ion-card>
      <ion-label position="floating">Intolerance:</ion-label>

      <ion-item *ngFor="let intolerance of intolerances">
        <ion-label>{{intolerance}}</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card>
        <ion-item>
            <ion-label position="floating">Excluded Ingredients:</ion-label>
            <ion-input type=text></ion-input>
          </ion-item>
          <br>
      <ion-item>
        <ion-button size=default slot="start">Add</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>


  <br>
  <ion-button expand="block">Save</ion-button>&nbsp;


</ion-content>