
<ion-content padding>
<div class="demo-1">Ingredients: </div>
<ion-card *ngFor="let ingredient of recipe_ingredients">
    <ion-row>
        <div class="col col-33">
        <img src="{{ingredient.image}}"/>
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
            {{ingredient.originalString}}
        </ion-col>
      </ion-row>
    <!-- iterate over array see this link extendedIngredients https://rapidapi.com/spoonacular/api/recipe-food-nutrition?endpoint=55e1ba5ee4b0a29b2c360756 -->
</ion-card>
<div class="">Substitute of: </div>
<input type="text" name="sub_ingredient">
</ion-content>

<!-- <ion-item>
  <ion-label position="floating" for="sub_ingredient"></ion-label>
  <ion-input type="text" class="form-control" name="sub_ingredient" [(ngModel)]="model.sub_ingredient" #sub_ingredient="ngModel"></ion-input>
</ion-item>
<ion-button (click)="" >Login</ion-button>&nbsp;&nbsp; -->
