
<!-- <ion-content>

    <ion-card *ngFor="let recipe of recipes">
  
      <img src="{{recipe.image}}"/>
      <ion-row align-self-stretch>
        <ion-col size="10">
            {{recipe.title}} 
        </ion-col>       
        <ion-col text-right (click)="remove_favorite_recipes()(recipe.id)">
            <ion-icon name='star'></ion-icon>
        </ion-col>
      </ion-row>
  
    </ion-card>
  
 
 </ion-content> -->


<ion-content>


    <ion-card class="welcome-card" *ngFor="let recipe of recipes">
        <ion-row (click)="viewDeatils(recipe)">
            <img src="{{recipe.image}}" height="140" width="100"/>
          </ion-row>
       
  
      <ion-row align-self-stretch>
        <ion-col size="10">
            {{recipe.title}} 
        </ion-col>
        <ion-col text-right>
            <ion-icon (click)="remove_favorite_recipes(recipe.id)" name='star'></ion-icon>
            <!-- <ion-icon *ngIf="addFavorite" name='star'></ion-icon> -->

        </ion-col>
       
        
      </ion-row>
  
    </ion-card>
  
 
</ion-content>