<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-searchbar animated name="searchitem"
    (ionChange)="search()" debounce="500"
    [(ngModel)]="textSearch"></ion-searchbar>

    <ion-card class="welcome-card" *ngFor="let recipe of recipes">
      <ion-row (click)="viewDeatils(recipe)">
        <img src="{{recipe.image}}" height="140" width="100"/>
      </ion-row>

       
  
      <ion-row align-self-stretch>
        <ion-col size="10">
            {{recipe.title}} 
        </ion-col>
        <ion-col text-right (click)="addFavorite(recipe.id, recipe)">
          <ion-icon *ngIf="!recipe.isFavorite" name='star-outline'></ion-icon>
          <ion-icon *ngIf="recipe.isFavorite" name='star'></ion-icon>

        </ion-col>
       
        
      </ion-row>
  
    </ion-card>
  
 
</ion-content>


